/* bootstrap variables */
$navbar-default-bg: white;
$navbar-height: 78px;
$navbar-margin-bottom: 0px;
$navbar-border-radius: 0;

/* import bootstrap */
@import "bootstrap-sprockets";
@import "bootstrap";

/* typography */
h2 {
  font-size: 20px;
  color: #3a4753;
  font-weight: 400;
}
.of-the-h2 {
  margin-top: 0;
}
.vertical-align {
  line-height: 2;
}

/* style */
body {
  background-color: #f2f5f7;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
}

img {
  min-width:100%;
  min-height:100%;
  max-width:100%;
  max-height:100%;
}
/* carousel */
.jcarousel {
  position: relative;
  overflow: hidden;
}
.jcarousel ul {
  width: 1860px;
  left: -610px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcarousel li {
  float: left;
}
.jcarousel-control-prev {
  position: absolute;
  top: 253px;
  float: left;
  left: 30px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
.jcarousel-control-next {
  position: absolute;
  top: 253px;
  float: right;
  right: 30px;
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
/* banner */
.banner-row {
  position: relative;
  width: calc(100vw + 15px);
  left: calc(-50vw + 50%);
}
.left-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #d19092 0%, #fbadaf 100%);
  margin-bottom: 170px;
  position: relative;
  display: inline-block;
}
.center-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #d090b3 0%, #edb9e6 100%);
  margin-bottom: 170px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  position: relative;
  display: inline-block;
}
.right-banner {
  height: 350px;
  width: 620px;
  background: linear-gradient(to right, #88cfdd 0%, #7cc0ce 100%);
  margin-bottom: 170px;
  border-right: 1px solid white;
  position: relative;
  display: inline-block;
}
.banner-image {
  top: 44px;
  left: 42px;
  position: absolute;
  height: 366px;
  width: 244px;
  margin: 0;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.banner-title {
  top: 44px;
  left: 326px;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  color: white;
  margin: 0;
}
.banner-author {
  top: 70px;
  left: 326px;
  font-size: 13px;
  font-weight: 200;
  position: absolute;
  color: white;
  margin: 0;
}
.banner-description {
  top: 144px;
  left: 326px;
  height: 90px;
  width: 260px;
  font-size: 16px;
  font-weight: 200;
  position: absolute;
  color: white;
  margin: 0;
  overflow: hidden;
  word-break: break-all;
}
.banner-button {
  top: 264px;
  left: 326px;
  position: absolute;
  border-radius: 28px;
  color: #7f1d5c;
  font-size: 16px;
  background: white;
  padding: 10px 50px 10px 50px;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

/* sidebar */
.sidebar {
  width: 290px;
  position: absolute;
}
.author-week-author {

}
.book-week-image {
  height: 74px;
  width: 48px;
  display: block;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.book-week-title {
  position: absolute;
  top: 4px;
  left: 87px;
}
.book-week-author {
  position: absolute;
  top: 54px;
  left: 87px;
  font-size: 12px;
  color: #738797;
}
.book-week-margin-1 {
  margin-bottom: 40px;
}
.book-week-margin-2 {
  margin-bottom: 28px;
}

/* main content */
.col-md-4 {
  background-color: white;
  height: 262px;
  width: 454px;
  border-radius: 6px;
  border: 1px solid #eaedef;
  margin-right: 50px;
  margin-bottom: 86px;
}
.book-image {
  position: relative;
  top: -34px;
  left: 5px;
  height: 226px;
  width: 140px;
  display: block;
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
.book-title {
  position: absolute;
  left: 192px;
  top: 32px;
  margin: 0;
}
.book-author {
  position: absolute;
  left: 192px;
  top: 56px;
  margin: 0;
  color: #727272;
  font-weight: 300;
}
.book-description {
  word-break: break-all;
  position: absolute;
  left: 192px;
  top: 122px;
  width: 220px;
  height: 60px;
  margin: 0;
  color: #738797;
  font-weight: 300;
}
.main-category {
  float: right;
  display: inline;
  font-weight: 400;
  color: #777f86;
  padding-left: 20px;
  padding-right: 20px;
}
.main-category-bold {
  color: #3a4753;
  font-weight: 700;
}
.main-title {
  margin: 0;
  float: left;
}
/* various elements */
.alert {
  margin: 0px;
}
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #f2f5f7;
  border-top: 1px solid #e7e7e7;
  position: relative;
}
.hamburger {
  font-size: 24px;
  top: 3px;
  margin-right: 8px;
  position: relative;
  display: inline-block;
}
.main-content {
  position: relative;
  margin-left: 290px;
}
.navbar-brand {
  line-height: 48px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: calc(50% - 58.5px)
}
.separator {
  border-top: 1px solid #e7e7e7;
  margin-bottom: 80px;
}
.book-separator {
  position: absolute;
  top: 212px;
  left: 20px;
  width: 432px;
  border-top: 1px solid #e7e7e7;
}

/* media queries */
@media (min-width: 768px) {
  .navbar-nav li a {
    line-height: 46px;
  }
}